.fill_but{
    color: #222D32;
    font-size: 25px;
    margin-top: 8px;
    background-color: #0DB8DE;
}
.add_task{

    background-color: #e0e0e0 ;
    width: 1500px;
    position: absolute;
    left: 200px;
    top: 100px;


}
.form-width{
    margin-left: 200px;
}